# App
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:8081

# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=weally_db
DATABASE_URL="postgresql://user:password@localhost:5432/weally?schema=weally"

# Better auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=my_password

# JWT
JWT_ACCESS_SECRET=change_me_access_super_secret_key_min_32_chars
JWT_REFRESH_SECRET=change_me_refresh_super_secret_key_min_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cookie
COOKIE_SECRET=change_me_cookie_secret_min_32_chars
