# App
NODE_ENV=development
PORT=3000

# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=weally_db
DATABASE_URL="postgresql://user:password@localhost:5432/weally?schema=auth"
DATABASE_URL_WEALLY="postgresql://user:password@localhost:5432/weally?schema=weally"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_password

# JWT
JWT_ACCESS_SECRET=change_me_access_super_secret_key_min_32_chars
JWT_REFRESH_SECRET=change_me_refresh_super_secret_key_min_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cookie
COOKIE_SECRET=change_me_cookie_secret_min_32_chars
