# docker compose down -v
# docker compose build --no-cache
# docker compose up


  version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    restart: unless-stopped
    environment:
      NODE_ENV: production